body { 
    padding: 20px;
    margin: 10px;
    font-family: serif;
    padding-top: 65px;

}

h2#logo {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 35px;
    font-family: 'Roboto Slab', serif;
}

#movie-info {
    font-family: 'Roboto Slab', serif;

}

div #movie-info {
    min-width: 590px;

}

#api-info {
    font-family: 'Roboto Slab', serif;
}

.navbar-form .form-control {
    margin: 5px;
}

.navbar-custom {
    background:transparent;
}

form#movie-form {
    /*margin-left: 5px;*/
    margin-right:5px;
    margin-top:8px;
}

btn#lookup {
	margin-right:5px;
}

.ui-autocomplete {
max-height: 300px;
overflow-y: auto;
/* prevent horizontal scrollbar */
overflow-x: hidden;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
height: 300px;
}

#map-canvas {
    width: 600px;
    height: 600px;
    margin: 20;
    padding: 20;
}